/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.full-width {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}
.max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-left {
  text-align: right;
}
.highlight-warning {
  background: #fffbe9;
  color: #e85b0f;
}
.blue {
  color: #3e89b5;
}
.green {
  color: #4d684b;
}
.yellow {
  color: #6f4f26;
}
.red {
  color: #8c2929;
}
.grey {
  color: #798c9c;
}
.lightblue {
  color: #647f9e;
}
.orange {
  color: #7f3a07;
}
.emphasis {
  font-weight: 600;
  color: hsl(0,0%,10%);
}
.subdued {
  font-weight: normal;
  color: hsl(0,0%,44%);
}
.hide-scrollbars {
  
  ::-webkit-scrollbar {
    display: none !important;
    width: 10px !important;
    height: 0 !important;
  }
  ::-webkit-scrollbar-thumb {
      background-color: rgba(0,0,0,0);
  }
}
.overflow-container {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
